# for git-changelog (https://github.com/dannyben/git-changelog)
export CHANGELOG_COMMIT_URL=https://github.com/DannyBen/rspec_approvals/commit/%h
export CHANGELOG_COMPARE_URL=https://github.com/dannyben/rspec_approvals/compare/%s
